body {
  background-image: url("../img/getty_637413968_20001349200092804_264706.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0; /* Elimina el margen predeterminado del body */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.logo {
  width: 200px;
  height: 150px;
}

.btn-custom {
  background-color: rgba(207, 194, 161, 0.315);
  color: #926f2dd8;
}

.btn-custom:hover {
  color: #634903d8;
}

h1 {
  background: linear-gradient(45deg, #888055, #ccb010);
  background-clip: text;
  color: transparent;
  display: inline-block;
  margin-top: 0; /* Ajusta el margen superior del h1 según necesites */
}

.label-custom {
  background-color: #55555557;
  color: #c7c9b4;
  font-weight: bold;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 15px;
}

.btn-guardar {
  background-color: #c7b830;
  color: #5a4e28;
}

.btn-guardar:hover {
  background-color: #8b821d;
  color: #574e31;
}

#btnUpdate {
  display: none;
}

main {
  flex: 1;
}

footer {
  background-color: rgba(51, 51, 51, 0.5);
  color: rgb(201, 181, 71);
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
  font-size: 15px;
}

footer a {
  font-weight: bold;
  color: rgb(31, 30, 28);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
  opacity: 1;
}

.rights {
  color: rgb(0, 0, 0);
  font-size: 10px;
  margin: 0;
  text-align: center;
}

@media (max-width: 550px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .logo {
    margin-bottom: 10px;
  }
  #tableData {
    display: block;
    max-height: 200px;
    overflow-y: auto;
  }
}
